version: '3.8'

services:
  backend:
    build:
      context: ./be
      dockerfile: Dockerfile
    container_name: mikrotik-monitor-be
    ports:
      - "3002:3002"
    volumes:
      - ./be/prisma:/app/prisma
    environment:
      - NODE_ENV=production
      - PORT=3002
    restart: always

  frontend:
    build:
      context: ./fe
      dockerfile: Dockerfile
      args:
        - VITE_API_BASE_URL=http://localhost:3002/api
    container_name: mikrotik-monitor-fe
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
